header {

  background-color: #51ccad;
  color: #ffffff;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.4;
  margin-top: -35px;

}

header p{

  text-align: center;
  font-size: 17px;
}

article, footer {
  margin-right: 12em;
  margin-left: 12em;
  font-color: #404040;
}

body{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -background-size: cover;
}



