header {

  background-color: #51ccad;
  color: #ffffff;
  text-align: center;
  font-size: 25px;
  font-weight: 400;
  line-height: 1.4;
  margin-top: -35px;

}

header p{

  text-align: center;
  font-size: 17px;
}

article{
  font-family: Corbel;
  margin-right: 12em;
  margin-left: 12em;
  font-color: #404040;
  line-height: 120%;
}

body{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -background-size: cover;
}

img.medium {
  max-width: 550px
}

img.preview{
  max-width: 250px;
  border: 2px solid black;
}

a:link{
  text-decoration: none;

}

dt {
  font-weight: bold;
  font-style: italic;
}

footer{
  color: grey
  font-style: italic;
  font-size: .8em;
  text-align: right;
  margin-right: 150px;

}


