nav {
  position: relative;
  margin: 20px 0;
  padding-bottom: .1em;
}

nav ul{
  text-align: center;

}
nav.center ul {
  text-align: center;
}

nav li {
  margin: 0 5px 10px 0;
  display: inline-block;
  list-style-type: none;
  padding: 7px;
  text-align: center;
}



nav a:link {
  color: #8c8c8c;
  font-family: Arial
  font-size: 1.25em;
  text-decoration: none;
  text-transform: lowercase;
}

nav a:visited {
  color: #8c8c8c;
  font-family: Arial
  font-size: 1.25em;
  text-decoration: none;
  text-transform: lowercase;
}

}
nav a:hover{
  color: #4a4a4a;
}

nav a:active{
  color: #171717;
}
