body{
  background: url( imgs/paper.png) fixed repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -background-size: cover;
  text-align: left;

}

nav {
  position: relative;
  margin: 1.25em 0;
/*  padding-bottom: .1em;*/
}

nav ul{
  text-align: center;

}
nav.center ul {
  text-align: center;
}

nav li {
  margin: 0 .31em .31em 0;
  display: inline-block;
  list-style-type: none;
  padding: .44em;
  text-align: center;
}

/*.pdfobject {
  text-align: center;
}*/

.resume {
  align-content: center;
}

nav a:link {
  color: #8c8c8c;
  font-family: Arial
  font-size: 1.25em;
  text-decoration: none;
  text-transform: lowercase;
}

nav a:visited {
  color: #8c8c8c;
  font-family: Arial
  font-size: 1.25em;
  text-decoration: none;
  text-transform: lowercase;
}

nav a:hover {
  color: black;

  /*#4a4a4a*/
}


