body{
  background: url(imgs/paper.png) repeat fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  -background-size: cover;
}

img {
  width: 35vw;
  border: sold black .1em;
  margin-right: auto;
  margin-left: auto;
  display: block;
  border-radius: 50%
}


section li {
  list-style-type: none;
  text-align: center;
  color: #262626;
  font-family: Arial
  font-size: 1.25em;
  text-transform: lowercase;
  margin: 1.25em;
}

section a:link {
  text-decoration: none;
  color: #003380;
}

section a:visited{
  text-decoration: none;
}

section a:hover {
  text-decoration: underline;
}

article {
  margin-left: 17em;
  margin-right: 17em;
  margin-top: -1em;
  margin-bottom: 1em;



}