body{
  background: url(../imgs/paper.png) fixed repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -background-size: cover;
  text-align: center;

}

.wrapper{
  width: 45em;
  margin: 0em auto;
}
.header{
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  margin-top: -1.2em;
  text-align: center;
}

#hover{
  width: 20.8em;
  float: left;
  margin: .7em;
  height: 17.3em;
  background-color: black
  opacity: .8;
}

.entry{
  width: 20.8em;
  float: left;
  margin: .7em;
  height: 17.3em;
  background-color: #e7e3d8;
  background-position: bottom;
  border: .1em solid #d6d6d6;
}

/*this class is toggled on mouse hover*/
.fig {
  display: none;
}


figure {
  display: block;
  width: 15.625em;
  height: 10.625em;
  background-color: #e7e3d8;
  margin: 0em;
  padding: .563em;
  text-align: center;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: #665544
}


article img{
  width: 19.6em;
  height: 14.9em;
  border: .1em solid #d6d6d6;
}

figure img{
  width: 19.6em;
  height: 14.9em;
  border: .1em solid #d6d6d6;
}

figcaption{
  padding-left: 4.2em;
}




